*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

.button {
  -webkit-transition: all 0.1s linear !important;
  -moz-transition: all 0.1s linear !important;
  transition: all 0.1s linear !important;
}

.quote {
  position: absolute;
  bottom: 3%;
  text-align: center;
  left: 50%;
  line-height: 1.5em;
  transform: translateX(-50%);
}

.quote .author {
  font-size: 10px
}

.main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
