*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #001f3f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

.quote {
  position: absolute;
  bottom: 3%;
  text-align: center;
  left: 50%;
  line-height: 1.5em;
  transform: translateX(-50%);
}

.quote .author {
  font-size: 10px
}
